h3.inf{
    color: rgb(235, 155, 6);
}
q {
    color: rgb(131, 166, 78);
}
p.pinf{
    color: rgb(212, 149, 32);
}

/* Creatures: */ 
dt#grifo {color: rgb(158, 86, 86);}
dt#afogador {color: rgba(66, 66, 239, 0.853);}
dt#mendigo{color: rgba(165, 57, 57, 0.808);}


abbr#abreviação {
    text-decoration: none;
}
ul#teste{
    margin-bottom: 40px;
}